@charset "utf-8";
/* public */
.word {
   color: #fff;
  text-shadow: 0 0 0.2em #FFF, 0 0 1em #FFF;
}
.wrap,{ background-position: 0 0; background-repeat: no-repeat; -webkit-background-size: cover; background-size: cover; }
.wrap { background-color: #fff; -webkit-background-size: 100% 100%; background-size: 100% 100%; }

/*loading*/
.loading-page {
  background-image: url("../images/loading-bg.jpg"); 
  -webkit-background-size: 100% 100%; 
  background-size: 100% 100%; 
  width: 100vw;
  /*height: 100vh;*/
  height: 110%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter p {
  font-size: 24px;
  margin-top: -14%;
}
.loading-page .counter h1 {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}
.loading-page .counter hr {
  width: 100%;
  background: #fff;
  border: none;
  height: 3px;
  box-shadow: 0 0 6px 0.8px #fff;
  margin-bottom: 6.5px;
}
.loading-page .counter {
  position: relative;
  width: 100%;
  top: 35%;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}
.line{
  margin-top: -11%;
  display: flex;
  align-items: flex-end;
}
.loading-car {
  float: right;
  width: 88px;
}
.loading-door {
  width: 70px;
  margin: 0 auto;
}
/*第一页*/
.page1 {
  background-image: url("../images/page1-bg.png"); 
  position: relative;
  animation: bounceInLeft 1.5s ease-out;
  
}
.doorcnt {
   display: flex;
  justify-content: center;
  align-items: center;
}
.shan{
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 1;
  bottom: -11%;
}
.zhezhao {
  z-index: 3;
  background-color: #000;
  height: 40px;
  position: absolute;            
   /*//相对于img-container定位，*/
  bottom:0;
  width: 101%;
  opacity: 0.2
}
.door{
  position: absolute;
  bottom: 0.4rem;
  width: 80%;
  height: 90%;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;

  margin: auto;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  0% {
    transform: scaleX();
  }
  50% {
    box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.6);
    opacity: .7;
  }
  100% {
    transform: scaleX();
  }
}
.max-door{
  height: 60%;
  animation: bounceInLeft 1.5s ease-out;

}
.middle-door{
  height: 90%;
  animation: bounceInLeft 2s ease-out;
}
.mix-door{
  height: 85%;
  animation: bounceInLeft 2.5s ease-out;
}
.wordss {
  animation: spin 1.2s ease-in-out infinite; 
  margin-top: -3rem;
}
.wordss { 
    font-size: 24px; 
    color:#fff; 
    margin: 10px;
    animation: changeshadow 1s  ease-in  infinite ;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: changeshadow 1s linear infinite;
    -moz-animation: changeshadow 1s linear infinite;
    -ms-animation: changeshadow 1s linear infinite;
    -o-animation: changeshadow 1s linear infinite;
  }  
  @keyframes changeshadow {  
      0%{ text-shadow: 0 0 4px #fff}  
      50%{ text-shadow: 0 0 40px #fff}  
      100%{ text-shadow: 0 0 4px #fff}  
  }
    /* 添加兼容性前缀 */
  @-webkit-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #fff}  
    50%{ text-shadow: 0 0 40px #fff}  
    100%{ text-shadow: 0 0 4px #fff}  
  }
  @-moz-keyframes changeshadow {
      0%{ text-shadow: 0 0 4px #fff}  
      50%{ text-shadow: 0 0 40px #fff}  
      100%{ text-shadow: 0 0 4px #fff}  
  }
  @-ms-keyframes changeshadow {
      0%{ text-shadow: 0 0 4px #fff}  
      50%{ text-shadow: 0 0 40px #fff}  
      100%{ text-shadow: 0 0 4px #fff}  
  }
  @-o-keyframes changeshadow {
      0%{ text-shadow: 0 0 4px #fff}  
      50%{ text-shadow: 0 0 40px #fff}  
      100%{ text-shadow: 0 0 4px #fff}  
  }

.wangge {
    position: absolute;
    bottom: -0.6rem;
    width: 0%;
    z-index: 2;
    opacity: 1;
    height: 38%
}


/*报名*/
.page3 {
  background-image: url("../images/page3-bg.jpg"); 
   animation: bounceInLeft 1.5s ease-out;
  /*position: relative;*/
}
.top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.top .img img{
  width: 60px;
}
.top .img:first-child {
  margin-top: 10px;
}
.content-des {
  color: #fff;
}
.content-des .title{
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content-des  table {
  font-size: 14px;
  color: #00B2DB;
  margin: auto;
}
.content-des table tr {
  height: 30px;
}
.content-des  table tr td{
  vertical-align: top;
  text-align: left;
}
.content-des  table tr td span{
  float: left;
  margin-right: 10px;
  
}
.triangle-right {
    display:block;
    width:0;
    height:0;
    border-width:7px 0 7px 7px;
    border-style:solid;
    border-color:transparent transparent transparent #00b2d8;/*透明 透明 透明 黄*/
    margin-top: 3px;
}
.page-center {
  width: 90%;
  margin: auto;
}
.content-des hr {
  margin-top: 4px;
  box-shadow: 0 0  10px 1px #00B2DB;
}
.sign-up {
  font-size: 12px;
  color: #60c4db;
  margin: auto;
  padding: 1px 20px;
  text-align: center;
}
.sign-up p {
  font-size: 20px;
  color: #60c4db;
  font-weight: bold;
  margin: 6px 0;
}
.inp {
  width: 92%;
  border: 1px solid #60c4db;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 12px auto;
  background-color: #010915;
  text-align: left;
}
.inp span {
  margin-left: 10px;
}
.inp input, select{
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 6px 0;
  width: 15.6rem;
  margin-left: 2%;
  border: 0px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
}
.tips {
  display: block;
  text-align: left;
  margin-left: 2rem;
  font-size: 10px;
  margin-top: -12px;
}
.checkb {
    display: flex;
    padding: 10px 0;
}
.inp select {
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis;
  margin: 6px 0;
}
.checkbox {
  width: 60px;
  float: left;
  display: flex;
}
.checkbox input {
  -webkit-appearance: none; 
  border: none; 
  width: 16px; 
  height: 16px; 
  background: url("../images/page3-checkbox.png");
}
.checkout-box {
  position: relative;
  width: 70%;
  /*right: 10%;*/
}
.checkout-box .checkbox{
  position: absolute !important;
}
.btn-save {
  width: 100px;
  height: 60px;
  background-image: url("../images/page3-btn.png"); 
  -webkit-background-size: 100% 100%; 
  background-size: 100% 100%; 
  color: #0a1019;
  font-size: 20px;
  text-shadow:5px 2px 6px #60c4db;
  line-height: 60px;
  margin: auto;
}
.isbus{
  display: none;
}


input[type="radio"]{
  width:14px;
  height:14px;
  display: inline-block;
  text-align: center;
  vertical-align: middle; 
  line-height: 18px;
  position: relative;
  margin-top: 2px;
  margin-left: 3px;
}
input[type="radio"]::before{
  content: "";
  position: absolute;
  top: 0;left: 0;
  background: #0a1a27;
  width: 100%;
  height: 100%;
  border: 1px solid #60c4db
}
input[type="radio"]:checked::before{
  content: "\2713";
  background-color: #0a1a27;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  color:#fff;
  font-size: 20px;
  font-weight: bold;
}
.triangle-down {
  position: absolute;
  top: 16px;
  right: 12px;
  border-top: 7px solid #00b2d8 ;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
/*phone图标旋转*/
.view { position: absolute; width: 100%;height: 100%; overflow: auto}
.big-bg {  height: 100%;position: relative; display: inline-block; }
.big-bg img {  height: 100%;}
.phone-more {
  width: 10rem;
  position: fixed;
  bottom: 2rem;
  left: 7rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.phone-img{
  margin-bottom: 1.5rem;
  width: 60px;
  -webkit-animation: rockit .8s ease infinite alternate;
  animation: rockit .8s ease infinite alternate;
  -moz-animation: rockit .8s ease infinite alternate;
  -o-animation:  rockit .8s ease infinite alternate;
}
.xiaoshou {
  display: none;
}
.wl{
    position: absolute;
    height: 8rem !important;
    top: 10rem;
    left: 41%;
    animation: bounceInLeft 2s ease;
}
.feiji {
    position: absolute;
    left: 6rem;
    top: 3rem;
    width: 9rem;
    height: auto !important;
    
}
.feijixg {
  animation-name: oDiv;
    animation-delay: 0.5s;/*延迟时间*/
    /*循环次数*/
    /*animation-iteration-count: 2;*/
    animation-duration: 3s;
    /*反向播放动画*/
    /*animation-direction: reverse;*/
}

/*飞机飞入效果*/
@-webkit-keyframes oDiv{
  0%{left: 180px;top: -200px;opacity: 0;}
  100%{left: 200px;top: 50px;opacity: 1;}
}
@keyframes oDiv{
  0%{left: 180px;top: -200px;opacity: 0;}
  2100%{left: 200px;top: 50px;opacity: 1;}
}

@-webkit-keyframes rockit {
  from {
    -webkit-transform: translatey(30px) rotate(50deg);
            transform: translatey(30px) rotate(50deg);
  }
  to {
    -webkit-transform: translatey(30px) rotate(-10deg);
            transform: translatey(30px) rotate(-100deg);
  }
}

@keyframes rockit {
  from {
    -webkit-transform: translatey(30px) rotate(-45deg);
            transform: translatey(30px) rotate(-45deg);
  }
  to {
    -webkit-transform: translatey(30px) rotate(60deg);
            transform: translatey(30px) rotate(60deg);
  }
}

/*文字淡入*/
.fade-in-words-box, .fade-in-words-right-box {
  display: none;
}
.fade-in-words{
    margin: 0 auto;
    text-align: right;
    position: absolute;
    left: 6rem;
    top: 12rem;
    width: 27rem;
    color: #fff;
    text-shadow: 0 0 0.2em #FFF, 0 0 1em #FFF;
    letter-spacing: 0.3rem;
    line-height: 1.5rem;
}
.fade-in-words-right {
    margin: 0 auto;
    text-align: right;
    position: absolute;
    right: 6rem;
    top: 14rem;
    width: 15rem;
    color: #fff;
    text-shadow: 0 0 0.2em #FFF, 0 0 1em #FFF;
    letter-spacing: 0.3rem;
    line-height: 2.5rem;
}
.fade-in-words-right .first-words {
  text-align: center;
  margin-left: -5rem;
}
.fade-in-words-right .second-words{
  margin-left: -13rem;
  margin-top: -0.5rem;
}
.fade-in-words-right .four-words{
  text-align: left;
}
/*自定义一个透明度从0到1的动画，它的名称是fade-in*/
@keyframes fade-in{  
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-webkit-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-ms-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-o-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-moz-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
.first-words{ 
    margin-left: 2rem;
    text-align: left;
    opacity: 0;      /*实先规定文字的状态是不显示的*/
    animation: fade-in 4s ease 0s 1;    /*调用名称为fade-in的动画，全程动画显示时间4S，进入方式为ease，延时0S进入，播放次数1次*/
    -webkit-animation: fade-in 4s ease 0s 1;
    -moz-animation: fade-in 4s ease 0s 1;
    -o-animation: fade-in 4s ease 0s 1;
    -ms-animation: fade-in 4s ease 0s 1;
    
    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
      -o-animation-fill-mode: forwards; 
      -ms-animation-fill-mode: forwards;   
      -moz-animation-fill-mode: forwards; 
}
.second-words{ 
    text-align: center;
    opacity: 0;    
    animation: fade-in 4s ease 2s 1;
    -webkit-animation: fade-in 4s ease 2s 1;
    -moz-animation: fade-in 4s ease 2s 1;
    -o-animation: fade-in 4s ease 2s 1;
    -ms-animation: fade-in 4s ease 2s 1;
    
    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
      -o-animation-fill-mode: forwards; 
      -ms-animation-fill-mode: forwards;   
      -moz-animation-fill-mode: forwards; 
}
.third-words{ 
    opacity: 0;    
    animation: fade-in 4s ease 4s 1;
    -webkit-animation: fade-in 4s ease 4s 1;
    -moz-animation: fade-in 4s ease 4s 1;
    -o-animation: fade-in 4s ease 4s 1;
    -ms-animation: fade-in 4s ease 4s 1;
    
    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
      -o-animation-fill-mode: forwards; 
      -ms-animation-fill-mode: forwards;   
      -moz-animation-fill-mode: forwards; 
}
.four-words{ 
    margin-right: -3rem;
    margin-top: 1rem;
    opacity: 0;    
    animation: fade-in 4s ease 6s 1;
    -webkit-animation: fade-in 4s ease 6s 1;
    -moz-animation: fade-in 4s ease 6s 1;
    -o-animation: fade-in 4s ease 6s 1;
    -ms-animation: fade-in 4s ease 6s 1;
    
    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
      -o-animation-fill-mode: forwards; 
      -ms-animation-fill-mode: forwards;   
      -moz-animation-fill-mode: forwards; 
}
.five-words{ 
    margin-right: -4rem;
    opacity: 0;    
    animation: fade-in 4s ease 8s 1;
    -webkit-animation: fade-in 4s ease 8s 1;
    -moz-animation: fade-in 4s ease 8s 1;
    -o-animation: fade-in 4s ease 8s 1;
    -ms-animation: fade-in 4s ease 8s 1;
    
    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
      -o-animation-fill-mode: forwards; 
      -ms-animation-fill-mode: forwards;   
      -moz-animation-fill-mode: forwards; 
}
.six-words{ 
    opacity: 0;    
    animation: fade-in 4s ease 10s 1;
    -webkit-animation: fade-in 4s ease 10s 1;
    -moz-animation: fade-in 4s ease 10s 1;
    -o-animation: fade-in 4s ease 10s 1;
    -ms-animation: fade-in 4s ease 10s 1;
    
    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
      -o-animation-fill-mode: forwards; 
      -ms-animation-fill-mode: forwards;   
      -moz-animation-fill-mode: forwards; 
}

.big-words{
  font-size: 1.3rem;
}
.bold-words {
  font-weight: bold;
}
.middle-words {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.small-words {
  font-size: 0.5rem;
}

/*适配iphonex*/
@media only screen and (device-width:375px) {
    .shan {
        bottom: -8%;
    }
    .wangge{
      /*bottom: 0.2rem;*/
    }
    .loading-page .counter hr{
      /*margin-bottom: 0.32rem;*/
    }
    .four-words {
      margin-top: 3rem;          
    }
    .fade-in-words{
      top: 14rem;
    }
   .fade-in-words-right {
      top: 17.5rem;
      width: 15rem;
      margin-right: 3rem;
    }
    .fade-in-words-right .four-words {
          margin-top: 0;
        margin-left: -2rem;
    }
    .wl {
      left: 43%;
    }
}
/*plus*/
@media only screen and (device-width:414px) {
    .loading-page .counter hr{
      /*margin-bottom: 0.2rem;*/
    }
    .loading-car-box{

    }
    .shan {
        bottom: -8%;
    }
    .wangge{
      /*bottom: -0.1rem;*/
    } 
    .fade-in-words{
      line-height: 2rem;
    }
    .fade-in-words-right {
      line-height: 3rem;
    }
    .fade-in-words-right .second-words {
        margin-left: -15.5rem;
        margin-top: 0.5rem;
    } 
    .wangge{
      bottom: 0rem !important;
    }
}

@media only screen and (device-width:414px) {
    .loading-page .counter hr{
      /*margin-bottom: 0.2rem;*/
    }
}

/*iphone 5*/
@media only screen and (device-width:320px) {
   .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
      width: 18rem !important;
   }
   .inp input, select {
      width: 11.3rem;
   }
   .loading-page {
      height: 120%;
   }
   .wl {
    left: 40%;
   }
   .view .top .img {
    margin-left: 1rem !important;
   }
   .top .img:first-child {
      margin-right: 9.5rem !important;
   }
   .phone-more {
      left: 5.5rem;
   }
   .fade-in-words {
      top: 9rem;
      width: 22rem;
      line-height: 1.5rem;
   }
   .fade-in-words-right {
        top: 10.5rem;
   }
}


/*适配*/
/*iphone*/

@media screen and (min-width:600px) and (max-width:900px){
  .wangge{
    /*bottom: -0.6rem;*/
  }
}
@media screen and (max-width: 600px) {

  
}

@media screen and (max-device-width: 480px){
  .wangge{}
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
  .wangge{
    bottom: -0.6rem;
  }
}

/*安卓*/
@media screen and (max-device-width:240px){
  .wangge{}
}
@media screen and (min-device-width:241px) and (max-device-width:360px){
  .wangge{
    bottom: -1.6rem;
  }
}
@media screen and (min-device-width:361px) and (max-device-width:480px){
  .wangge{
    bottom: -1.1rem;
  }
}


  .wyInput {
    position: relative;
  }
  
/* WebKit browsers */
/*input::-webkit-input-placeholder { 
    color:    #fff;
}*/
/* Mozilla Firefox 4 to 18 */
/*input:-moz-placeholder { 
    color:    #fff;
}*/
/* Mozilla Firefox 19+ */
/*input::-moz-placeholder { 
    color:    #fff;
}*/
/* Internet Explorer 10+ */
/*input::-ms-input-placeholder { 
    color:    #fff;
}*/
  .wyInput .wyinput-group a {
    float: left;
    width: 20%;
    background: transparent;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .wyInput .wyinput-group a:hover {
    background: #60c4db;
  }
  .wyInput .wyinput-drop {
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 10;
    background-color: rgba(0,0,0,0.5) !important;
    padding: 5px 5px;
    color: #fff;
    /*width: 24rem !important;*/
    /*height: 8rem;*/
    overflow-y: scroll;
  }
  .wyInput .wyinput-drop p a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    display: block;
  }
  .wyInput .wyinput-drop p a:hover {
    color: #fff;
    background: #35ACC1;
  }


