<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.web.mapping.ModuleMapper">
	<resultMap id="BaseResultMap" type="com.hj.web.entity.Module">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="moduleName" property="moduleName" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="isValidate" property="isValidate" jdbcType="INTEGER" />
		<result column="cTime" property="cTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, moduleName, sort,  isValidate, cTime
	</sql>
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cms_module
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="del" parameterType="java.lang.String">
		delete from cms_module
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.hj.web.entity.Module">
		insert into cms_module
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="moduleName != null">
				moduleName,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="isValidate != null">
				isValidate,
			</if>
			<if test="cTime != null">
				cTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="moduleName != null">
				#{moduleName,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="isValidate != null">
				#{isValidate,jdbcType=INTEGER},
			</if>
			<if test="cTime != null">
				#{cTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.hj.web.entity.Module">
		update cms_module
		<set>
			<if test="moduleName != null">
				moduleName = #{moduleName,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="isValidate != null">
				isValidate = #{isValidate,jdbcType=INTEGER},
			</if>
			<if test="cTime != null">
				cTime = #{cTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="getDataMessge" resultMap="BaseResultMap">
		SELECT * from cms_module
		where isValidate = 1
		<if test="moduleName !='' and moduleName != null">
			and instr(moduleName,#{moduleName})
		</if>
		order by sort desc,cTime desc
		limit #{page},#{pageSize}
	</select>

	<select id="getDataMessgeCount" resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM
		cms_module
		where
		isValidate = 1
		<if test="moduleName !='' and moduleName != null">
			and instr(moduleName,#{moduleName})
		</if>
	</select>

	<update id="deletes">
		update cms_module set isValidate = 0 where instr(#{boxeditId},id)
	</update>
</mapper>